*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  scrollbar-width: 0;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #ddd;
  border: 4px solid #fff;
}

.modal-title {
  display: block;
  text-align: left;
}

.modal-title p {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: bold;
}

.img-hotel {
  box-sizing: border-box;
  height: 250px;
  width: 100%;
  padding: 10px;
  object-fit: cover;
}

.star-rating {
  display: flex;
  align-items: center;
}

.body-info {
  background-color: #ccc;
}

.star {
  font-size: 1.5rem;
  color: #ccc;
  margin-right: 5px;
  position: relative;
}

.star.filled {
  color: #ffcc00;
}

.star.half::before,
.star.one-quarter::before,
.star.three-quarter::before,
.star.under-quarter::before {
  content: '\2605';
  color: #ffcc00;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.star.half::before {
  width: 50%;
}

.star.one-quarter::before {
  width: 25%;
}

.star.three-quarter::before {
  width: 75%;
}

.star.under-quarter::before {
  width: 30%; 
}

.amenities {
  margin-top: 0px;
}

.amenity {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.amenity-icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.modal-footer-custom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0; 
}

.modal-footer {
  justify-content: flex-start; 
  width: 100%;
}
.modal-footer .bodycontent
{
  margin-left: -100%;
}
